# VSCode settings
.vscode/

# Node.js
node_modules/
frontend/dist/
frontend/.env

# Python
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/.mypy_cache/
backend/.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
storage/
.env